<% content_for :head do %>
<style>
/* 
   Remove dark gray striped background in timeline
   @see http://stackoverflow.com/a/39045621/613772
*/
svg g:first-of-type path {
    stroke: #e6e6e6;
}
svg g:first-of-type rect:not(:last-child) {
    fill: #ffffff;
}
</style>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group pull-right" role="group" aria-label="...">
      <%= link_to 'View Raw Data', view_raw_path(path: params[:path]), class: 'btn btn-default btn-xs' %>
      <%= link_to 'Download', download_raw_path(path: params[:path]), class: 'btn btn-default btn-xs' %>
    </div>
    <h3 class="panel-title">General Action Info</h3>
  </div>
  <div class="panel-body">
    <div class="text-pre"><%= JSON.pretty_generate @event.except('events', 'consolidated') %></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Timeline</h3>
  </div>
  <div id="timeline"><div class="padding">Loading...</div></div>
</div>

<%= render 'details' %>

<% content_for :javascript do %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
window.sqlEventData = <%= raw @event['events'].to_json %>;

(function() {
  function loadTimeline() {
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var container = document.getElementById('timeline');
      var timeline = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();

      dataTable.addColumn({ type: 'string', id: 'Title' });
      dataTable.addColumn({ type: 'number', id: 'Start' });
      dataTable.addColumn({ type: 'number', id: 'End' });
      dataTable.addRows(<%= raw JSON.pretty_generate(@timeline_data) %>);

      var options = {
        // @see http://stackoverflow.com/a/18643370/613772
        // 42 is the magic number to get all the rows to display
        // without overflow.
        height: (<%= @timeline_data.group_by{|a,| a}.size %> * 42) + 40,
        avoidOverlappingGridLines: false,
        backgroundColor: 'transparent',
        timeline: {
          rowLabelStyle: { fontSize: 12, padding: 0}
        }
      };

      timeline.draw(dataTable, options);
      google.visualization.events.addListener(timeline, 'select', function() {
        var row = timeline.getSelection()[0].row;
        EventDetailDialog.show(sqlEventData[row]);
      });
    }
  }

  $(document).ready(function() {
    EventDetailDialog.show(sqlEventData[0]);
    loadTimeline();
  });
})();
</script>
<% end %>
