<% content_for :head do %>
<style>
#caller-resizable {
  border-top: 1px solid #888;
  background: #eee;
  width: 100%;
  height: 20em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #aaa;
}
#caller-code {
  border-top: 1px solid #888;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 1.75em;
}

a.caller-link:focus {
  background: yellow;
}

.duplicate {
  font-size: 1em; 
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(212, 63, 58);
}
</style>
<% end %>

<div class="panel panel-default sync-margin" style="margin-bottom: 20em">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @event['name'] %></h3>
  </div>
  <div class="panel-body">
    <div class="text-pre"><%= JSON.pretty_generate @event.except('name', 'events') %></div>
  </div>

  <table class="table">
    <tr>
      <th>SQL Statements by Frequency</th>
      <th>Callers</th>
    </tr>
    <% @event['events'].sort_by{|e| -e['count'] }.each do |event| %>
      <tr>
        <td><%= link_to(event['sql'].truncate(200), "##{event['index']}") %></td>
        <td class="text-right"><%= event['count'] %></td>
      </tr>
    <% end %>
  </table>

  <table class="table table-striped table-bordered">
    <tr>
      <th>SQL Statements Chronological Order</th>
      <th>Call Stack</th>
    </tr>
    <% last_sql   = nil %>
    <% @event['events'].each do |event| %>
      <tr>
        <td class="td-scroll" id="<%= event['index'] %>">
          <% if (dups = event['count'] - 1) > 1 %>
            <%= ghetto_bar(event['count'], class: 'duplicate pull-right') %>
          <% end %>
          <div class="clearfix text-pre"><%= SqlProbe::Utils.pretty_sql(event['sql']) -%></div>
        </td>
        <td class="text-pre td-scroll"><%= caller_links(event['caller']) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="caller-resizable" class="container">
  <div class="pull-right">Use `j` and `k` to select a different trace</div>
  <div id="caller-label"><em>Select a line of backtrace to load code.</em></div>
  <div id="caller-code"></div>
</div>

<% content_for :javascript do %>
<script>
$(document).ready(function() {

  // configure editor
  var editor = ace.edit("caller-code");
  editor.getSession().setMode("ace/mode/ruby");
  editor.setReadOnly(true);

  var loadSource = function(link) {
    var $link = $(link);
    $.ajax({
      url: $link.attr("href"),
      success: function (data) {
        $('#caller-label').text(data.file);
        editor.setValue(data.code);

        // resize() is required to fix a bug.
        // @see http://stackoverflow.com/a/23748891/613772
        editor.resize(true);
        editor.gotoLine(data.line);

        // keep focus on original clicked thing
        $($link).focus();
      },
      error: function (data) {
        console.error('could not get source. data: ', data);
      }
    });
  };

  // Override default click behavior to make ajax
  // request to get the source code from the locator
  // and set the value of the editor to the response.
  // Then jump to the line in the response.
  $('.caller-link').on('click', function (e) {
    e.preventDefault();
    loadSource(e.target);
  });

  // setup hotkeys to jump between stack lines
  $('.caller-link').keypress(function(e){
    var jumpTo = null;
    if ( event.key === 'j' ) {
      jumpTo = $(e.target).nextAll('.caller-link')[0];
    } else if (event.key === 'k') {
      jumpTo = $(e.target).prevAll('.caller-link')[0];
    }
    if (jumpTo) {
      jumpTo.click();
    }
  });

  // Setup drag bar
  var handleResize = function() {
    editor.resize();
    resizable.css('bottom', 0);
    $('.sync-margin').css('margin-bottom',resizable.height() + 24);
  };

  var resizable = $('#caller-resizable');

  resizable.resizable({
    handles: 'n',
    resize: handleResize
  });
  $(window).on('resize', handleResize);
});
</script>
<% end %>
