<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="zoom: 1;">
  <%= link_to 'Open SQL Probe', '/sql_probe', target: 'sql_probe' %>  
<%= yield %>
</body>
</html>
