<% pivot ||= raise ArgumentError, '`pivot` is a required partial argument!' %>
<% first = pivot.first %>
<% content_for :head do %>
<style>
  th.rotate {
    height: 87px;
    white-space: nowrap;
  } 
  th.rotate > div {
    transform: 
      translate(21px, 52px)
      rotate(315deg);
    width: 29px;
  }
  th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 1px;
  }
  th.clear, tr.clear {
    border: none !important;
    background: none !important;
  }
  .td-pivot {
    width: 27px;
  }
</style>
<% end %>
<table class="table table-bordered table-striped table-condensed" style="border:none; width: inherit">
  <tr class='clear'>
    <th class='clear'></th>
    <th class='rotate clear'><div><span>Total Queries</span></div></th>
    <th class='rotate clear'><div><span>Duration ms</span></div></th>
    <% first[:values].each_key do |header| %>
      <th class='rotate clear'><div><span><%= header %></span></div></th>
    <% end %>
  </tr>

  <% pivot.each do |event| %>
    <tr>
      <td>
        <%= link_to(event[:name], event_path(path: event[:path])) %>
      </td>
      <th class="text-right td-pivot"><%= event[:queries] %></th>
      <th class="text-right td-pivot"><%= event[:duration].round(1) %></th>
      <% event[:values].each_value do |count| %>
        <td class="text-center td-pivot"><%= count > 0 ? count : nil %></td>
      <% end %>
    </tr>
  <% end %>
</table>
