<%= content_for :head do %>
  <style>
  body {
    padding-top: 51px;
  }
  </style>
<% end %>

<div class='split split-horizontal split-a'>
  <div class='split split-vertical split-c'>
    <%= react_component 'RequestTimeline' %>
  </div>
  <div class='split split-vertical split-d table-responsive'>
    <%= react_component 'RequestTable' %>
  </div>
</div>
<div class='split split-horizontal split-b'>
</div>

<% content_for :javascript do %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
window.SQL_PROBE_CONFIG = <%= raw({ live_feed_path: live_feed_path,
                                    event_path: event_path(path: 'PATH')
                                  }.to_json) %>

Split(['.split-a', '.split-b'], {
  sizes: [50,50],
  gutterSize: 3,
  cursor: 'col-resize'
})
Split(['.split-c', '.split-d'], {
  sizes: [50,50],
  direction: 'vertical',
  gutterSize: 3,
  cursor: 'row-resize'
})

LiveFeed.start(<%= raw live_feed_path.to_json %>);
  </script>
<% end %>

